.question
  %h2= @question.title
  %p.lead= @question.body
  =render 'shared/votes', resource: @question
  %ul
  - @question.attachments.each do |att|
    %li= link_to att.file.filename, att.file.url
  - if can?(:update, @question)
    = link_to 'Edit', '#', class: 'edit-question-link btn btn-warning'
    - if @question.answers.empty?
      = link_to 'Delete Question', question_path, method: :delete, class: 'btn btn-danger pull-right'
    .question-edit-form
      .form-inline
        =form_for @question, remote: true, html:{role: 'form'} do |f|
          .form-group
            =f.label :title
            =f.text_field :title, class: 'form-control'
          .form-group
            =f.label :body
            =f.text_area :body, class: 'form-control'
          =f.fields_for :attachments do |att|
            = render 'attachment_fields', f: att
          %p=link_to_add_association "Add file", f, :attachments, class: 'btn btn-default'
          %br
          =f.button 'Submit', class: 'btn btn-default'
  =render 'comments/comments', resource: @question
  =render 'comments/form', resource: @question
