%h1 Ask new question
- if @question.errors.any?
  .bg-danger
    %p Your question couldn't be submitted. Please see the errors:
    %ul
      - @question.errors.full_messages.each do |msg|
        %li= msg
= nested_form_for @question do |form|
  .form-group
    =form.label :title
    =form.text_field :title, class: 'form-control'
  .form-group
    =form.label :body
    =form.text_area :body, class: 'form-control'
  = form.fields_for :attachments do |att|
    .form-group
      = att.label :file
      = att.file_field :file
      = att.link_to_remove "", class: 'glyphicon glyphicon-remove'
  %p=form.link_to_add "Add file", :attachments, class: 'btn btn-default'
  %br
  =form.button 'Create', class: 'btn btn-primary btn-lg'