.nav.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      = link_to 'stackoverflow_clone', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li= link_to current_user.email, edit_user_registration_path
          %li= link_to 'Sign Out', destroy_user_session_path, data: {method: :delete}
        - else
          %li= link_to 'Sign In', new_user_session_path
          %li= link_to 'Register', new_user_registration_path